# Conan
conan/test_package/build

# IDEs
*.user
.idea
.vscode
.vs
CMakeSettings.json
cpp.hint

# Bazel
/bazel-*

# Unused for submodule
.github/
build/
cmake/
conan/
docs/
natvis/
scripts/
single_include/
test/

.clang-format
BUILD.bazel
CMakeLists.txt
conanfile.py
